.container {
  padding: 24px;
  display: flex;
  height: 100%;
  gap: 24px;
  .leftTree {
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    :global {
      .ant-card-body {
        height: calc(100% - 57px);
        // height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .rightContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .searchCard {
      margin-bottom: 16px;
    }

    .tableCard {
      flex: 1;

      :global {
        .ant-card-body {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
