/*
 * @Author: 桂佳囿
 * @Date: 2025-07-11 22:29:48
 * @LastEditors: 桂佳囿
 * @LastEditTime: 2025-12-22 09:38:48
 * @Description: 公共样式
 */

/* font-family */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
